<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>nature-2</string>
			<string>nature-3</string>
			<string>nature-8</string>
		</array>
		<key>postText</key>
		<string>Hello!!! sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>nature-8</string>
			<string>nature-3</string>
			<string>nature-2</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>nature-2</string>
			<string>optimizeForMobile</string>
			<string>nature-3</string>
			<string>nature-8</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>asd asdal daks dajsh dlaksjhd lasjdha ljdask djgasdjahsdka s;dka sdas d;lkajsd </string>
		<key>liked</key>
		<false/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<false/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>authorName</key>
		<string>Corneliu Chitanu</string>
		<key>authorAvatar</key>
		<string>avatarCorneliu</string>
		<key>postedTime</key>
		<string>21 Sept</string>
		<key>postImages</key>
		<array>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
			<string>optimizeForMobile</string>
		</array>
		<key>postText</key>
		<string>sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha sda dal kshda sdhalksj dhalskjd halksdh alsdjha </string>
		<key>liked</key>
		<true/>
		<key>featured</key>
		<true/>
		<key>whoLikedThePost</key>
		<array>
			<string>Andrew</string>
			<string>Nana</string>
			<string>Diana</string>
			<string>Steve</string>
		</array>
		<key>numberOfComments</key>
		<integer>2</integer>
		<key>numberOfShares</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
